<mat-card>
  <mat-spinner *ngIf="isloading"></mat-spinner>
  <form (submit)="onSignup(SignupForm)" #SignupForm="ngForm" *ngIf="!isloading">
    <mat-form-field>
      <input matInput type="email" name="email" ngModel placeholder="E-Mail" #emailInput="ngModel" required email>
      <mat-error *ngIf="emailInput.invalid">Please Enter a valid email</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input type="password" name="password" ngModel matInput placeholder="password" #passwordInput="ngModel" required>
      <mat-error *ngIf="passwordInput.invalid">Please Enter a valid password</mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      color="primary"
      type="submit" *ngIf="!isloading">Signup
    </button>
  </form>
</mat-card>
